{{outlet}}
<div class="container-fluid">
  <div class="top-panel container-fluid">
    <div class="row">
      <div class="col-sm-4">
        {{input type="text" value=opId class="form-control"}}
        <button {{action "openTopology" opId}} class="btn btn-primary">Open Topology</button>
        {{#if hasMessage}}
          <p class="alert-danger">{{{model.statusMessage}}}</p>
        {{/if}}
      </div>
      <div class="col-sm-8">
        <h3>Latest Operations</h3>
        {{#each operation.latestOperations.operations as |operation|}}
          <li>
            {{#link-to "topology" operation.opId preventDefault=false}}
              {{operation.initiatorCommand}}@{{operation.initiatorService}}/{{operation.opId}}
            {{/link-to}}
          </li>
        {{/each}}
      </div>
    </div>


  </div>
  <div class="topology">
    {{#visjs-network}}
      {{#each model.nodes as |x|}}
        {{visjs-node nId=x.nId label=x.label color=x.color shape=x.shape}}
      {{/each}}
      {{#each model.edges as |x|}}
        {{visjs-edge from=x.from to=x.to label=x.label arrows='to'}}
      {{/each}}
    {{/visjs-network}}
  </div>

</div>





